/* -------1920--------- */
@media only screen and (min-width:1920px) {
  .container-fluid {
    width: 1880px;
    margin: auto;
  }

  .nav-bokbtn {
    padding-right: 20px;
  }

  .secimgmaa {
    margin-top: -803px !important;
    z-index: 99;
    position: relative;

  }
}

/* -------1400px--------- */
@media only screen and (min-width:1400px) {

  .new-pet {
    margin-right: 15%;
  }
}

@media only screen and (max-width:1400px) {

  .new-pet {
    margin-right: 10%;
  }
}

/* -------992px--------- */
@media only screen and (max-width:992px) {
  button.navbar-toggler {
    background: #77D2F4;
  }

  .offcanvas-header {
    background: #77D2F4;
  }

  .navbar-nav.justify-content-start.align-items-center.flex-grow-1.pe-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  ul.navbar-nav.mb-2.mb-lg-0 {
    margin-left: 0px;
  }
ul.navbar-nav.align-items-center.gap-xl-3 {
    align-items: flex-start !important;
}
.navbar-nav.justify-content-center.align-items-center.flex-grow-1.pe-3 {
    align-items: flex-start !important;
}
  a.nav-link.menusectext {
    color: #000 !important;
    font-size: 20px;
    padding-bottom: 20px;
}
}

/* -------767px--------- */
@media only screen and (max-width:767px) {
  .herosecbg {
    padding: 0px;
  }

  section.heroslider1 {
    border-radius: 0px;
    padding-top: 195px;
  }

  .erchertextbg h1 {
    font-size: 38px;
  }
  .erchertextbg p {
    font-size: 16px;
  }
  .review-badge {
    margin-top: 40px;
    width: 100%;
  }
  .student-card {
    width: 100%;
  }
  a.nav-link.menusectext {
    color: #000 !important;
    font-size: 20px;
    padding-bottom: 20px;
}
ul.navbar-nav.align-items-center.gap-xl-3 {
    align-items: flex-start !important;
}
.video-badge {
    position: absolute;
    right: 0px;
    bottom: -119px;
    left: 74px;
}
.secabbtg {
    padding-left: 10px;
    padding-top: 138px;
}
.sectexttherbg h2 {
    font-size: 29px;
}
.secbgmisbg {
    padding: 20px;
    margin: 10px;
}
.secalbgabut {
    flex-direction: column;
    align-items: center;
}
.learn-btn {
    font-size: 22px;
}
.secherrprogbg h2 {
    width: 100%;
}
.boxsecprobg {
    margin-bottom: 20px;
}
.secsucbg {
    padding: 40px 10px;
}
.secsucbg p {
    font-size: 18px;
}
.secvidemodal {
    padding-bottom: 40px;
}
.circle-text-badge {
    bottom: 40px;
    width: 140px;
    height: 140px;
}
.review-box {
    top: 8px;
    left: 17px;
}
.gallery-grid {
    display: flex;
    flex-direction: column;
}
.pricing-card {
    margin-bottom: 30px;
}
.secinstbg .col-md-6 {
    margin-bottom: 30px;
}
.secimgmaa {
    margin-top: -380px;
}
.secinstbg {
    padding: 40px 0 0px 0px;
}
#faqAccordion {
    padding-top: 40px;
}
.sectestmonbg {
    padding: 0px;
}
.book-form-box {
    margin: 10px;
    padding: 20px;
}
.book-info {
    padding-left: 10px;
    padding-right: 10px;
}
.info-box {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    flex-direction: column;
}
.footer-row h4 {
    margin-top: 30px;
}
.secfooterbg {
    border-radius: 0px;
    margin-bottom: 0px;
}
.secfoot3{
  padding: 0px;
}
}