/* -------1920--------- */
@media only screen and (min-width:1920px) {
  .container-fluid {
    width: 1903px;
    margin: auto;
  }
}

/* -------1400px--------- */
@media only screen and (min-width:1400px) {

  .new-pet {
    margin-right: 15%;
  }
}

@media only screen and (max-width:1400px) {

  .new-pet {
    margin-right: 10%;
  }
}

/* -------992px--------- */
@media only screen and (max-width:992px) {
  button.navbar-toggler {
    background: #841A0B;
  }

  .offcanvas-header {
    background: #841A0B;
  }

  .navbar-nav.justify-content-start.align-items-center.flex-grow-1.pe-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  ul.navbar-nav.mb-2.mb-lg-0 {
    margin-left: 0px;
  }

  .delivery-bar {
    padding: 10px;
    gap: 20px;
  }

  .delivery-bar .d-item i {
    font-size: 20px;
  }

  .delivery-bar .d-item p {
    font-size: 12px;
  }

  .brands-row {
    grid-template-columns: repeat(4, 1fr);
  }

  .reviews-wrapper {
    grid-template-columns: 1fr;
  }

  .review-card {
    border-left: none;
    border-top: 1px solid #eee;
  }

  .footer-top-custom {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .service-card {
    margin-bottom: 20px;
    padding: 20px 9px;
    height: 282px;
  }

  .container.secpethomebg.new-pet-home.p-0 {
    display: none;
  }

  .google-summary {
    display: flex;
    flex-direction: column;
  }

  .footer-right {
    max-width: 100%;
  }

  .footer-subscribe input {
    width: 50px;
  }

  .footerbg {
    background: #f7f7f7;
    font-family: Arial, sans-serif;
    padding: 60px 0 40px;
    padding-bottom: 100px;
  }

  .secrevimg {
    padding: 40px 10px 0px 10px;
  }

  .google-logo {
    width: 50%;
    margin-top: 0px;
  }

  .dog-img img {
    width: 24%;
  }
.owl-nav .product-slider {
    display: none;
}
  .brands-we-love {
    padding: 60px 10px;
  }

  .secmobbg2 {
    display: none;
  }

  .sec-space-left-right-nav {
    padding: 0;
  }


}

@media(max-width:576px) {
  .footer-top-custom {
    grid-template-columns: 1fr;
  }
}

/* -------767px--------- */
@media only screen and (max-width:767px) {
  .cat-img img {
    height: 180px;
  }

  .flash-banner {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 22px;
    border-radius: 25px
  }
  .secimgbgdog {
    border-radius: 20px 20px 0px 0px;
}
.secpetbg2 {
    border-radius: 0px 0px 20px 20px;
}

  .flash-products img {
    height: auto;
    width: 100%;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
  }

  .d-flex.justify-content-between.align-items-center.mb-3 {
    display: flex;
    flex-wrap: wrap;
  }

  .p-card img {
    width: 100%;
    height: auto !important;
    margin-bottom: 10px;
  }

  .price img {
    width: 15% !important;
  }
}

/* -------576px--------- */
@media only screen and (max-width: 576px) {
  .brands-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .brands-header h3 {
    font-size: 18px;
  }

}

/* -------480px--------- */
@media only screen and (max-width:480px) {}

@media (min-width: 1200px) {
  #searchOverlay {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }

  /* Desktop рдкрд░ close button bhi hide */
  #searchOverlay .close-btn {
    display: none !important;
  }
}