.herosecbg {
  background-color: #E8F7FF;
  padding: 20px 50px;
}
.nav-callicon{
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-family: 'Onest', sans-serif;
}

.menusectext{
  font-size: 'Onest';
  font-size: 16px;
  color: #fff;
  padding: 0px 10px;
}
.menusectext:hover{
  color: #37BCFF;
}

/* phone btn css */
.call-icon{
  width: 42px;
  height: 42px;
  background: #37BCFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
}


.call-text span{
  display: block;
  font-size: 13px;
  opacity: 0.9;
  line-height: 1;
}

.call-text strong{
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}
/* phone btn css end*/

#header-file {
  z-index: 9;
  position: relative;
}

.herslider {
  margin-top: -155px;
}


.heroslider1 {
  background-image: url(../images/herobg1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  height: 755px;
  border-radius: 30px;
}

.erchertextbg h1 {
  font-family: 'Fredoka';
  font-size: 70px;
  color: #fff;
  font-weight: 700;
}

.erchertextbg p {
  font-family: 'Onest';
  font-size: 18px;
  color: #fff;
}

.secherbtn {
  padding: 30px 0px;
}

.secherbtn1 {
  font-family: 'Onest';
  font-size: 16px;
  font-weight: 700;
  background: #37BCFF;
  border: 1px solid #37BCFF;
  padding: 20px 30px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  transition: background-color 0.35s ease,
    border-color 0.35s ease,
    color 0.35s ease;
}

.secherbtn1:hover {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.secherbtn2 {
  font-family: 'Onest';
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 20px 30px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
} 